.pattrn-header {
  height: 50px;
  width: 100vw;
  background-color: purple;
}

.pattrn-text {
  color: white;
}

.party-text {
  color: blue
}

.site-name {
  display: inline-block;
  margin-left: 40px;
}

header h2 {
  display: inline-block;
  float: right;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 250px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  font-size: 1.3rem;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  /* padding: 0 18px; */
  width: 1000px;
  height: 500px;
  background-color: blue;
  overflow: hidden;
  display: none
}

.accordion-display {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

main {
  width: 95%;
  margin: auto;
}

h3 {
  display: block;
  width: 90%;
}

/* .display-case {
  background-color: black;
  width: 1000px;
  height: 500px;
} */

.panel.selected {
  color: red;
  display: block;
}

.accordion.selected {
  background-color: grey;
}